* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	display: flex;
	justify-content: center;
}
.container {
	width: 100%;
	display: flex;
	justify-content: center;
	position: relative;
	flex-direction: column;
}
.header {
	width: 100%;
	display: flex;
	justify-content: start;
	border-bottom: 1px solid #999;
}
.logo {
	width: 75%;
	display: flex;
	justify-content: start;
	align-items: center;
	margin-left: 2rem;
}
.logo img {
	width: 250px;
	height: 100px;
	object-fit: contain;
}
.title {
	/* background-color: #999; */
	width: 75%;
	margin-top: 1.5rem;
	margin-left: 3rem;
}
.title h3 {
	margin: 1rem 0 1rem 0;
	font-weight: 500;
	color: #444;
}
.title h3 .inDam {
	color: #111;
	font-weight: 700;
}
.title .ttdh {
	color: #111;
	font-weight: 700;
	font-style: italic;
}

table {
	border-collapse: collapse;
	width: 100%;
}

th,
td {
	padding: 10px 10px 10px 0;
}

.footer {
	padding-left: 3rem;
	margin-top: 1rem;
	width: 100%;
	border-top: 1px solid #999;
}
.footer .title-footer {
	margin-top: 1.5rem;
}
.footer .title-footer h3 {
	margin: 0.5rem 0 0.5rem 0;
	font-weight: 500;
	color: #444;
}
